<section id="about" class="container">
    <div class="about-card">
        <div class="row d-flex align-items-center text-center">
            <div class="col-md-6 p-4">
                <h2 class="section-title">01. About Me</h2>
                <img src="assets/img/myPP.jpg" class="about-img mb-3" alt="About Me">
                <p class="text-justify">
                    Hello! I'm a software developer focused on building business
                    solutions using Microsoft Power Platform.
                    I enjoy creating applications that are both functional and user-friendly.
                </p>

                <p class="text-justify">
                    Experience creating applications with Power Apps, automating workflows with Power
                    Automate,
                    and working with Dataverse, SQL and .NET technologies.
                </p>

                <p class="text-justify">
                    Passionate about process automation and improving business efficiency through
                    technology.
                </p>
            </div>
            <div class="col-md-6 p-4">
                <div class="skills-grid">

                    <div class="skill-card">
                        <img src="assets/icons/powerapps.png" alt="Power Apps">
                        <span>Power Apps</span>
                    </div>
                    <div class="skill-card">
                        <img src="assets/icons/powerautomate.png" alt="Power Automate">
                        <span>Power Automate</span>
                    </div>
                    <div class="skill-card">
                        <img src="assets/icons/dataverse.png" alt="Dataverse">
                        <span>Dataverse</span>
                    </div>
                    <div class="skill-card">
                        <img src="assets/icons/sql.png" alt="SQL">
                        <span>SQL</span>
                    </div>
                    <div class="skill-card">
                        <img src="assets/icons/dotnet.png" alt=".NET">
                        <span>.NET</span>
                    </div>
                    <div class="skill-card">
                        <img src="assets/icons/angular.png" alt="Angular">
                        <span>Angular</span>
                    </div>
                    <div class="skill-card">
                        <img src="assets/icons/git.png" alt="Git">
                        <span>Git</span>
                    </div>
                    <div class="skill-card">
                        <img src="assets/icons/powerbi.png" alt="Power BI">
                        <span>Power BI</span>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>