/* .about-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
} */

/* glass card 🔥 */
.about-card {
    background: rgba(255, 255, 255, 0.623);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    padding: 2.5rem;
    color: rgb(97, 121, 87);

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

/* título */
.section-title {
    font-family: 'Fredoka', sans-serif;
    margin-bottom: 1.5rem;
    text-align:left;
}

/* texto */
.about-card p {
    /* opacity: 0.9; */
    line-height: 1.7;
}

.text-justify {
  text-align: justify !important;
}

.about-img {
    max-width: 85%;
    border-radius: 100%;
    transition: all 0.3s ease;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.skill-card {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;

  font-family: 'Fredoka', sans-serif;
}

.skill-card img {
  width: 28px;
}

.skill-card span {
  font-size: 0.9rem;
}

.skill-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 15px rgba(91, 165, 103, 0.452);
}