<section id="hero" class="hero d-flex align-items-center justify-content-center text-center">
  <div class="container">
    <img 
      src="assets/img/hero-frog.png" 
      class="hero-image"
      alt="Tania's Profile Picture">
    <h1 class="hero-title">
        Hi, I'm <span class="highlight">Tania</span>
    </h1>
    
    <p class="hero-subtitle">
        Power Platform Developer & Full Stack Developer
    </p>
    
    <p class="hero-subtitle h3 small-text">
        Building cute & functional apps ✨
    </p>

    <div class="hero-buttons mt-4">
      <a href="#projects" class="btn btn-outline-light me-3">View Projects</a>
      <a href="#contact" class="btn btn-success">Contact Me</a>
    </div>

  </div>
</section>