.projects {
    background: rgba(255, 255, 255, 0.432);
    backdrop-filter: blur(50px);
    border-radius: 16px;
    padding: 2.5rem;
    color: rgb(97, 121, 87);

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.project-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  gap: 2rem;
  position: relative;
}

.project-row.reverse {
  flex-direction: row-reverse;
}

.project-media {
  flex: 1;
  position: relative;
}

.project-media img,
.project-media iframe {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

/* efecto tipo bloque morado */
.project-media::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 60%;
  background: #e07f23;
  bottom: -20px;
  left: -20px;
  z-index: -1;
  border-radius: 12px;
}

.project-row.reverse .project-media::before {
  left: auto;
  right: -20px;
}

.project-text {
  flex: 1;
  color: rgb(87, 128, 108);
}

.project-text h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.tech-icons img {
  width: 25px;
  margin-right: 0.5rem;
}

.project-text a {
  display: inline-block;
  margin-top: 1rem;
  color: #ff4d6d;
  text-decoration: none;
  font-weight: bold;
}

.carousel {
  position: relative;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  background: rgba(221, 135, 86, 0.596);
  backdrop-filter: blur(6px);
  
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  cursor: pointer;
  transition: all 0.3s ease;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
@media (max-width: 768px) {
  .project-row {
    flex-direction: column;
  }

  .project-row.reverse {
    flex-direction: column;
  }

  .project-media::before {
    display: none; /* quita el fondo raro en mobile */
  }
}